html {
  margin: 0px;
  padding: 0px;
}

body {
  position: relative;
  margin: 0px;
  padding: 0px;
}

.my-dialog {
  width: max-content;
  height: max-content;
  max-width: 600px;
  max-height: 400px;
  min-width: 300px;
  min-height: 300px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border: solid 1px #ccc;
  background-color: #fff;
  display: none;
  margin: auto;
  font-family: arial;
  position: absolute;
  z-index: 9;
}

.dialog-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #ccc;
  height: 35px;
  width: 100%;
  cursor: move;
  z-index: 10;
}

.dialog-body {
  padding: 20px;
}

.form-group {
  width: 100%;
  padding-top: 15px;
}

.form-group input[type="text"] {
  width: 100%;
  outline: none;
  border: solid 1px #ccc;
  background-color: #f2f2f2;
  line-height: 30px;
  height: 30px;
}

.form-group label {
  width: 100%;
  line-height: 25px;
  height: 25px;
  padding-left: 3px;
  font-size: 13px;
  font-weight: bold;
}

.form-group input[type="text"]:focus {
  border: solid 1px #0fbfec;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(9, 121, 149, 0.49);
  box-shadow: 0px 0px 13px 0px rgba(9, 121, 149, 0.49);
}

.btn-close {
  float: right;
  cursor: pointer;
  cursor: hand;
  margin: 8px;
}

.dialog-back {
  background-color: rgba(0, 0, 0, 0.7);
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 0;
  display: none;
}

.dialog-footer {
  margin-top: 20px;
  text-align: right;
}

.btn-primary {
  background-color: #0fbfec;
  color: #ffffff;
  padding: 10px;
  font-weight: bold;
  outline: none;
  border: none;
}
